data/
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.git
.dockerignore
.gitignore
README.md
LICENSE
.docker/

# the following are default docker ignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore MacOS system files
.DS_Store

# Ignore data directories (adjust if necessary)
*data/*

# Ignore various cache directories
*/.*cache/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django and Flask specific files
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# Jupyter and IPython
.ipynb_checkpoints
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Misc project settings
.spyderproject
.spyproject
.ropeproject

# Documentation
/site

# Type checking and static analysis
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
