-f https://download.pytorch.org/whl/torch_stable.html
accelerate==0.26.1
bitsandbytes==0.42.0
torch==2.1.2+cpu
torchvision==0.16.2+cpu
Pillow==10.1.0
pillow-heif==0.14.0
salesforce-lavis==1.0.2
similarities==1.1.6
tqdm==4.66.1
PyYAML==6.0.1
nudenet==3.0.8
uform==1.0.3
